<%= form_for(@kunde) do |f| %>
  <% if @kunde.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kunde.errors.count, "error") %> prohibited this kunde from being saved:</h2>

      <ul>
      <% @kunde.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="well">          
  <div class="panel panel-info">
    <div class="panel-body">

      <div class="col-md-6" id="leftCol">
        <div class="well">    
          <div class="field">
            <%= f.label :gruppe %><br>
            <%= f.radio_button :gruppe, "Firma"  %> <%= f.label :gruppe, "Firma" %>
            <%= f.radio_button :gruppe, "Privatperson"  %> <%= f.label :gruppe, "Privatperson" %>
          </div>

          <div class="field">
            <%= f.label :tsp_versicherungskunde %><br>
            <%= f.radio_button :tsp_versicherungskunde, :true  %> <%= f.label :tsp_versicherungskunde, "Ja" %>
            <%= f.radio_button :tsp_versicherungskunde, :false  %> <%= f.label :tsp_versicherungskunde, "Nein" %>
          </div>
          <div class="field">
            <%= f.label :anrede %><br>
            <%= f.radio_button :anrede, "Frau"  %> <%= f.label :anrede, "Frau" %>
            <%= f.radio_button :anrede, "Herr"  %> <%= f.label :anrede, "Herr" %>
          </div>          
          <div class="field">
            <%= f.label "Nachname" %><br>
            <%= f.text_field :nachname %>
          </div>
          <div class="field">
            <%= f.label :geburtsname %><br>
            <%= f.text_field :geburtsname %>
          </div>
          <div class="field">
            <%= f.label :vorname %><br>
            <%= f.text_field :vorname %>
          </div>
        </div>
      </div>

      <div class="col-md-6" id="rightCol">
        <div class="well"> 
          <div class="field">
            <%= f.label :geburtsdatum %><br>
            <%= f.date_select :geburtsdatum, :prompt => { :day => 'Tag', :month => 'Monat', :year => 'Jahr' } %>
          </div>
          <div class="field">
            <%= f.label :geburtsort %><br>
            <%= f.text_field :geburtsort %>
          </div>
          <div class="field">
            <%= f.label :adresse %><br>
            <%= f.text_field :adresse %>
          </div>
          <div class="field">
            <%= f.label :plz %><br>
            <%= f.text_field :plz %>
          </div>
          <div class="field">
            <%= f.label :stadt %><br>
            <%= f.text_field :stadt %>
          </div>
          <div class="field">
            <%= f.label :telefonnummer %><br>
            <%= f.text_field :telefonnummer %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Speichern', class: "btn btn-success" %> | | 
    <%= link_to 'Löschen', kundes_path, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>
