<%= form_for(@anmeldung) do |f| %>
  <% if @anmeldung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anmeldung.errors.count, "error") %> prohibited this anmeldung from being saved:</h2>

      <ul>
      <% @anmeldung.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="well">          
  <div class="panel panel-info">
    <div class="panel-body">

      <div class="field">
        <%= f.label :kunde_id %><br>
        <%= f.select :kunde_id, Kunde.all.collect {|c| [ c.full_name, c.id ] }, { :include_blank => true, :selected => @anmeldung.kunde_id, :prompt => "bitte Kunde wählen für den der Antrag erstellt wird"}, class: "form-control" %>
      </div> 

      <div class="field">
        <%= f.label :identnummer %><br>
        <%= f.text_field :identnummer %>
      </div>
      <div class="field">
        <%= f.label :fz_brief_nr %><br>
        <%= f.text_field :fz_brief_nr %>
      </div>
      <div class="field">
        <%= f.label :amtliches_kennzeichen1 %><br>
        <%= f.text_field :amtliches_kennzeichen1 %>
      </div>
      <div class="field">
        <%= f.label :amtliches_kennzeichen2 %><br>
        <%= f.text_field :amtliches_kennzeichen2 %>
      </div>
      <div class="field">
        <%= f.label :neues_kennzeichen1 %><br>
        <%= f.text_field :neues_kennzeichen1 %>
      </div>
      <div class="field">
        <%= f.label :neues_kennzeichen2 %><br>
        <%= f.text_field :neues_kennzeichen2 %>
      </div>
      <div class="field">
        <%= f.label :feinstaubplakette %><br>
        <%= f.check_box :feinstaubplakette %>
      </div>
      <div class="field">
        <%= f.label :saison_von %><br>
        <%= f.date_select :saison_von %>
      </div>
      <div class="field">
        <%= f.label :saison_bis %><br>
        <%= f.date_select :saison_bis %>
      </div>
      <div class="field">
        <%= f.label :evb_nr %><br>
        <%= f.text_field :evb_nr %>
      </div>
      <div class="field">
        <%= f.label :kva_notiz %><br>
        <%= f.text_area :kva_notiz %>
      </div>
      <div class="field">
        <%= f.label :tsp_notiz %><br>
        <%= f.text_area :tsp_notiz %>
      </div>
      <div class="field">
        <%= f.label :versand_art %><br>
        <%= f.check_box :versand_art %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>

    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save Result', class: "btn btn-success" %> | | 
    <%= link_to 'Cancel', anmeldungs_path, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>